@*
  @model lowercase m to specify the data type of the view model
  @Model capital m to access the data
*@

@model List<Post>

<h2 class="text-center">All Posts</h2>

@{
  Post emptyPost = new Post();
}
<partial name="_NewPost" model="@emptyPost"></partial>
@* <partial name="_NewPost" model="@new Post()"></partial> *@

@foreach (Post post in Model)
{
  bool alreadyLiked = post.Likes.Any(like => Context.Session.GetInt32("UserId") == like.UserId);

  <div class="card shadow rounded mx-auto w-75 mb-3">
    <h4 class="card-title text-center bg-dark text-light py-2 rounded-top">

      @*
        asp-route-paramName where paramName matches exactly the param name from
        the controller action (method).
      *@
      <a asp-controller="Posts" asp-action="Details" asp-route-postId="@post.PostId">@post.Topic</a>
      @* <a href="/posts/@post.PostId">@post.Topic</a> *@
    </h4>

    <div class="card-body">
      <p class="card-text">@post.Body</p>
      <small class="text-muted">
        Submitted on: @post.CreatedAt by <a asp-controller="Home" asp-action="Details" asp-route-userId="@post.UserId">
          @post.Author.FullName()
        </a>
      </small>
      <form asp-controller="Posts" asp-action="Like" asp-route-postId="@post.PostId">
        <button class="btn btn-link">
          @if (alreadyLiked)
          {
            @* Thumbs up icon. *@
            <span>&#128078;</span>
          }
          else
          {
            <span>&#128077;</span>
          }
          <span>(@post.Likes.Count)</span>
        </button>
      </form>
    </div>



    <img class="card-img-bottom" src="@post.ImgUrl" alt="Post">
  </div>
}